/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

.lightyellow {
  background: #feebb1;
}

.lightblue {
  background: #b3c1d1;
}

header {
  margin: 1.5em;
  display: flex;
  flex-direction: row-reverse;
}

#lafLogo {
  height: 10vh;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
}


.frame {
  margin: 0.5em 2em 0.5em 2em;
  display: flex;
  flex-direction: column;
}

h2 {
  color: #142a50;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: larger;
  margin: 15px;
}

h3 {
  color: #142a50;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 8px;
  font-size: small;
}

h4 {
  color: #142a50;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 20px;
  font-size: small;
}


.searchBox {
  background: white;
/*   padding: 20px 40px; */
  margin: 0 15px;
}


form {
  margin: 20px 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: small;
}

.hidden {
  display: none;
}

.show {
  display: block;
}



label {
  color: #142a50;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 8px;
  font-size: small;
  display: block;
}


input[type=text],input[type=list], textarea{
  width: 100%;
  padding: 8px;
  border: 0;
  box-sizing: border-box;
  margin: 6px 8px 16px 8px;
  background: #e5e5e5;
}

textarea {
  resize: none;
}

input[type=file] {
  width: 100%;
  margin: 6px 8px 16px 8px;
  cursor: pointer;
}

.googleMap {
  margin: 8px 8px 20px 8px;
}

.finder {
  background: #daab27;
}

.seeker{
  background: #142a50;
}

.endDiv {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.smallBtn {
  border: 0;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  font-weight: bold;
  color: white;
  padding: 0.5em 1em;
/*   margin: 0 20px; */
  cursor: pointer;
  outline:none;
}


input[type=date], input[type=time] {
  padding: 8px;
  border: 0;
  box-sizing: border-box;
  margin: 6px 8px 16px 8px;
  background: #e5e5e5;
}

.searchLogo {
  height: 3vh;
  margin: 5px;
  transform: scaleX(-1);
}


/*auto complete*/
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#searchBar {
  cursor: pointer;
}

.searchLogo {
  height: 3vh;
  margin: 5px;
  transform: scaleX(-1);
}



.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
/*   padding: 10px; */
}

.titleText {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: medium;
  margin-left: 5px;
}

/* .collapse_bar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.titleHead {
  width: 2vh;
} */

.moreBtn {
  width: 15%;
  background-color: Transparent;
  color:#142a50;
  border:none;
  height:100%;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: medium;
  outline:none;
}


/* .collapsible {
  background: #daab27;
} */
/* .lightyellow {
  background: #feebb1;
}

.lightblue {
  background: #b3c1d1;
} */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
/*   background-color: #daab27; */
/*   background: #daab27; */
  color: #444;
/*   cursor: pointer; */
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 10px;
}



/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  flex-direction: row;
/*   justify-content: space-around; */
  overflow: hidden;
/*   background-color: #f1f1f1; */
}

.itemImg {
  width: 40vh;
  margin: 15px;
}

/* .content{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
} */

.info {
  margin: 10px;
  display: block;
}

.line {
  display: flex;
  flex-direction: row;
}

.firstText {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: small;
  margin: 5px;
}

.secondText ,p{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: small;
  margin: 5px;
}

p {
  margin-top: 10px;
}

@media screen and (max-width: 700px) {
  .frame {
    margin: 0.25em 1em 0.25em 1em;
    display: flex;
    flex-direction: column;
  }
  
 
}